.contact{
     gap: 20px;
    padding-bottom: 30px;
}
.icons{
    display: flex;
   gap: 20px;
}
.icons p{
    text-align: justify;
}
.mapa{
    justify-content: center;
    display: flex;
}
@media screen and (max-width: 780px){
    .icons{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 733px) {
    .contact{
        flex-direction: column-reverse;
    }
    .contact div {
        width: 100%;
        gap: 6px;
    }

}
body{
    background-image: url(../img/swimming-pool-6307414_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
}
