* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 30px 60px;
    align-items: center;
}

.cabecalho ul {
    display: flex;
    /* deixa o filho um do lado do outro */
    gap: 30px 60px;
}

.cabecalho h1 {
    display: flex;
    gap: 20px;
    color: #fff;
}

.cabecalho ul li a {
    color: #fff;
}
.men{
    padding: 30px 60px;
}

